* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #373736;
}

#header {
  /* border: 1px solid black; */
  height: 6rem;
  background: #fff;
  background: url("../hanumat.png") no-repeat;
  background-size: 5rem;
  background-position: 1rem center;
  /* color: #373736; */
  color: #fff;
  padding-left: 7rem;
  display: flex;
  align-items: center;
}

#form {
  /* border: 1px solid black; */
  width: 30%;
  margin: 2rem auto;
  background: #fff;
  border-radius: 1rem;
  padding: 1rem;
}

@media (orientation: portrait) {
  #form {
    width: 80%;
  }
}

#form h3 {
  text-align: center;
  color: #373736;
}

#form fieldset {
  padding: .5rem;
  margin: .5rem;
}

#form input {
  width: 100%;
  height: 1.5rem;
  border: 1px solid #999;
  border-radius: .5rem;
  margin-bottom: .5rem;
  margin-top: .5rem;
  padding: 1rem;
  font-size: 1rem;
}

#form .button {
  text-align: center;
}

#form input[type=submit] {
  width: 25%;
  border: none;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
  height: auto;
  color: #fff;
  background: #999;
}

#form input[type=submit]:hover {
  cursor: pointer;
}
